<div class="container">
    <router-outlet></router-outlet>

    <div class="row">
        <div class="col-md-12" align="center">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card text-white bg-dark mb-3 border-gold">
                <div class="card-body">
                    <app-input-form></app-input-form>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="receivedCards.length!==undefined;" class="container">

    <hr class="hr-gold">

    <div class="row ">
        <div class="col">
            <div *ngIf="viewOption === 'gallery'; else viewListTemplate">
                <app-pokemon-cards></app-pokemon-cards>
            </div>
            <div *ngIf="viewOption === 'gallery'; else viewListTemplate">
                <app-pokemon-cards></app-pokemon-cards>
            </div>
            <ng-template #viewListTemplate>
                <app-pokemon-lists></app-pokemon-lists>
            </ng-template>
        </div>
    </div>
</div>